@charset "utf-8";
/* CSS Document */

body {font-family: Arial, Helvetica, sans-serif,"宋体"; background:#fff; font-size:12px; color:#434242; margin:0px; padding:0px; letter-spacing:1px;}
.clear { clear:both;}
p { margin:0px; padding:0px; line-height:22px;}
h2 { padding:0px; margin:0px; line-height:30px;}

/*文字样式*/
a:link,a:visited {color:#3fa2c7;text-decoration:none;}
a:hover,a:active {color:#ff0000;text-decoration:none;}

.subdiv_allinline a:link,.subdiv_allinline a:visited {color:#434242;text-decoration:none;}
.subdiv_allinline a:hover,.subdiv_allinline a:active {color:#3fa2c7;text-decoration:none;}

.foot_mml a:link,.foot_mml a:visited {color:#919191;text-decoration:none;}
.foot_mml a:hover,.foot_mml a:active {color:#3fa2c7;text-decoration:none;}

.test { margin:0px; padding:0px; height:41px;}
.test ul{list-style:none; margin:0px;}
.test li{float:left;padding:0px 25px; line-height:41px;}
.test a{display:block;text-align:center;height:41px; line-height:41px;}
.test a:link{color:#434242;font-family:"微软雅黑"; font-size:14px; }
.test a:visited{color:#3fa2c7;}
.test a:hover{color:#3fa2c7;}



/*头部样式*/
.top { width:1160px; margin:0 auto; padding:0px; height:90px; position:relative;}
.logo { float:left; margin-top:29px; height:42px; width:161px;}
.qlink { float:right; height:30px; line-height:30px;/* background:url(../images/index_03.png) no-repeat left center;*/ padding-left:20px;}
.ms { float:right; height:50px; width:400px; position:absolute; top:40px; right:0px; line-height:50px;}
.nav { float:left; height:50px; width:190px; line-height:50px; font-family:"微软雅黑"; font-size:14px; }
.search { float:right; width:182px; height:27px; margin-top:10px; }

.menu { background:#f6f3f3; height:41px; width:100%; position:relative;}
.menu_m { width:1040px; margin:0 auto; height:41px;}

.ms_list01 { height:41px; margin-left:0px; margin-top:0px; margin-bottom:0px; width:960px;}
ul.ms_list01 li ul { display: none;}
ul.ms_list01, ul.ms_list01 li { padding:0; list-style: none;}
ul.ms_list01 li, ul.ms_list01 li a, ul.ms_list01 li a span { float: left;}/* 用于一级菜单 */
ul.ms_list01 li ul li,ul.ms_list01 li ul li a,ul.ms_list01 li ul li a span { float: none;}/* 消除上面样式对下级菜单的影响 */
ul.ms_list01 { display: block; padding:0px;}
ul.ms_list01 li {   height:41px; }
ul.ms_list01 li a { text-decoration: none;display: block; padding:0px 25px; height:41px; line-height:41px; font-family:"微软雅黑"; font-size:14px; }
.ms_list01 li a:link { color:#434242;display: block;padding:0px 25px;} 
.ms_list01 li a:hover/*,.ms_list01 li a:active,.ms_list01 li a:visited */{ color:#3fa2c7;}  

/*首页内容样式*/
.main2 { width:100%; margin:0; padding:0px;}
.banner { width:100%; height:420px; background:url(../images/moover_shadow.png) no-repeat center top #5db0d0;}
.banner_m { width:1160px; height:460px;  margin:0 auto; position:relative;}
.pic { width:960px; height:330px; padding:65px 0; position:relative; margin:0 auto;}
.back { width:60px; height:60px; float:left; position:absolute; top:190px; left:0px; z-index:999px;}
.forward { width:60px; height:60px; float:right; position:absolute; top:190px; right:0px; z-index:999px;}
.space { border-bottom:#e7e6e6 1px solid; height:5px; margin-bottom:30px;}
.content { width:1040px; margin:0 auto; padding:20px 0; margin-bottom:50px;} 
.div_allinline {  /* text-align:center; */margin:0;  padding:0;  clear:both;}  
.subdiv_allinline {  margin:0; padding:0; display:inline-block; _display:inline; *display:inline; zoom:1; height:285px;}  


/*页脚样式*/
.foot { width:100%; height:345px;}
.foot_up { height:46px; background:#3c9bbf;}
.foot_up_m { width:960px; margin:0 auto; height:46px;}
.foot_up_ml { float:left; color:#fff; line-height:46px; width:200px; padding-right:20px;}
.foot_up_mr { float:right; width:740px; height:46px;}
.div_con {  /* text-align:center; */margin:0;  padding:0;  clear:both;}  
.sub_div_con {  margin:10px 0 10px 30px; padding:0; display:inline-block; _display:inline; *display:inline; zoom:1; height:25px;}  
.foot_m { height:180px; background:#f6f3f3; padding:30px 0 40px 0;}
.foot_mm { width:960px; margin:0 auto;}
.foot_mml { float:left; width:650px; border-right:#cccbcb 1px solid; height:170px; color:#919191;}
.foot_mmr { float:right; width:300px; text-align:center;}
.space2 { border-bottom:#e7e6e6 1px solid; height:5px;}
.foot_b { height:43px; line-height:43px; text-align:center;}


/*二级页面样式*/
.main { width:100%; margin:0; padding:0px;} 

.subbanner { background:url(../images/banner_bg.jpg) repeat-x left top; height:225px; text-align:center;}

.here { background:url(../images/icon.png) no-repeat left 1px; padding-left:20px; height:30px; color:#3fa2c7;}
.title { height:35px; line-height:35px; border-bottom:#cccbcb 1px solid; font-family:"微软雅黑"; font-size:14px; font-weight:bold;}
.text { padding:20px;}
.text_l { float:left; width:400px;}
.text_r { float:right; width:580px; padding-left:20px;}
.tr01 { height:50px; background:url(../images/icon_07.png) no-repeat left center; padding-left:20px; line-height:50px;}


.div_sol {  /* text-align:center; */margin:0;  padding:0;  clear:both;}  
.subdiv_sol{  margin:0 10px 50px 10px; padding:0; display:inline-block; _display:inline; *display:inline; zoom:1;width:220px; height:290px;}  
.sol_pic { border:#d4d1d1 5px solid; width:210px; height:130px;}
.sol_text { /*padding:10px 0;*/ height:140px;}
.sol_but { text-align:right; height:20px;}
.text2 { padding:20px;}
.text2 p { text-indent:26px; margin-bottom:10px;}


.div_on {  /* text-align:center; */margin:0;  padding:0;  clear:both;}  
.subdiv_on{  margin:20px; padding:0; display:inline-block; _display:inline; *display:inline; zoom:1;width:210px; height:200px;}  
.on_pic { border:#d4d1d1 5px solid; width:200px; height:150px;}
.on_tit { height:40px; line-height:40px; font-size:14px; font-weight:bold; font-family:"微软雅黑"; text-align:center;}

.downicon { background:url(../images/downloads.gif) no-repeat left center; padding-left:25px; margin-left:10px;}

.con_m { padding-top:15px;}
.nav_left { float:left; width:145px; padding:0px; margin:0px; position:relative;}
.nav_list { margin:0px; padding:0px;}
ul.nav_list li ul { display: none; margin:0px; padding:0px;}
ul.nav_list, ul.nav_list li { padding:0; list-style: none;}
ul.nav_list li ul li,ul.nav_list li ul li a,ul.nav_list li ul li a span { float: none;}/* 消除上面样式对下级菜单的影响 */
ul.nav_list { display: block; padding:0px;}
ul.nav_list li {   height:42px; width:145px; }
ul.nav_list li a { text-decoration: none;display: block; padding:0px 25px; height:42px; line-height:42px;  font-size:14px; font-family:"微软雅黑"; }
.nav_list li a.active { color:#434242;display: block;padding:0px 25px;background:url(../images/nav_03.png) no-repeat left center;} 


ul.sub_nav_list li ul { display: none; margin:0px; padding:0px; background:url(../images/sub_nav_03.png) repeat-y left top;}
ul.sub_nav_list, ul.sub_nav_list li { padding:0; list-style: none;}
ul.sub_nav_list li ul li,ul.sub_nav_list li ul li a,ul.sub_nav_list li ul li a span { float: none;}/* 消除上面样式对下级菜单的影响 */
ul.sub_nav_list { display: block; padding:0px;}
ul.sub_nav_list li {   height:22px; width:145px; }
ul.sub_nav_list li a { text-decoration: none;display: block; padding:0px 25px; height:22px; line-height:22px;  font-size:12px; }
.sub_nav_list li a:link { color:#3fa2c7 ;display: block;padding:0px 25px;} 
.sub_nav_list li a:hover,.sub_nav_list li a:active,.sub_nav_list li a:visited { color:#3fa2c7; text-decoration:underline;}  

.nav_b { background:url(../images/nav_b_08.png) no-repeat left top; width:145px; height:123px;}
.con_r { float:right; width:855px;}
.text3 { padding:10px 0 10px 0;}
.text3 p { /*background:url(../images/icon_03.png) no-repeat left 8px; */padding-left:22px; line-height:30px;TEXT-INDENT: 2em;}

.video_nav { height:40px; border-left:#e5e5e5 1px solid; border-top:#e5e5e5 1px solid; padding:0px;}
.vtd01 { background:#ffffff; border-bottom:#ffffff 1px solid; border-right:#e5e5e5 1px solid; height:39px; line-height:39px;font-size:14px; font-family:"微软雅黑"; text-align:center;}
.vtd02 { background:#fafafa; border-bottom:#e5e5e5 1px solid; border-right:#e5e5e5 1px solid; height:39px; line-height:39px;font-size:14px; font-family:"微软雅黑"; text-align:center;}
.video_m { border:#e5e5e5 1px solid; border-top:none; padding:20px; text-align:center;}
.video_list { background:#f1f1f1; height:100px; padding:10px;}
.vtd03 { height:100px; line-height:100px; width:30px; text-align:left;}
.vtd05 { height:100px; line-height:100px; width:30px; text-align:right;}
.div_vid {  /* text-align:center; */margin:0;  padding:0;  clear:both;}  
.subdiv_vid{  margin:0px 10px; padding:0; display:inline-block; _display:inline; *display:inline; zoom:1;width:105px; height:100px; float:left;}  
.video_con { padding-top:20px;}

.suc_left { float:left; width:199px; background:#ffffff; border:#eeebf4 3px solid; padding:8px 8px 20px 8px;}
.suc_list { margin:0px; padding:0px;}
ul.suc_list li ul { display: none; margin:0px; padding:0px;}
ul.suc_list, ul.suc_list li { padding:0; list-style: none;}
ul.suc_list li ul li,ul.suc_list li ul li a,ul.suc_list li ul li a span { float: none;}/* 消除上面样式对下级菜单的影响 */
ul.suc_list { display: block; padding:0px;}
ul.suc_list li {   height:25px; width:199px; }
ul.suc_list li a { text-decoration: none;display: block; padding:0px 20px 0px 40px; height:25px; line-height:25px;  font-size:12px; font-family:"微软雅黑"; }
.suc_list li a:link { color:#666666;display: block;padding:0px 20px 0px 40px;background:url(../images/suc_11.png) no-repeat center bottom;} 
.suc_list li a:hover,.suc_list li a:active,.suc_list li a:visited { color:#ffffff; background:url(../images/suc_05.png) no-repeat left center;}  
.suc_right { float:right; width:785px;}
.suc_r_t {height:35px; line-height:35px; border-bottom:#cccbcb 1px solid; font-family:"微软雅黑"; font-size:14px; font-weight:bold;}
.suc_r_m { padding:20px 0;}
.srm_div { border-bottom:#cccccc 1px dashed; margin-bottom:20px;}
.srm_t { background:url(../images/icon_06.png) no-repeat left center; height:20px; line-height:20px; padding-left:28px; font-size:14px;}
.text4 p { text-indent:26px; margin-bottom:10px;}

.email { background:url(../images/email.gif) no-repeat left center; padding-left:20px;}
.image_name{text-align: center;
font-weight: bold;}
div.text3 table {
width: 90%;
font-size: 12px;
text-align: left;
border: 1px solid;
border-collapse: collapse;
}
div.text3 table caption {
text-align: left;
font-weight: bold;
}
div.text3 th, div.text3 td {
border: 1px solid;
}

.linkQuestion {
line-height: 200%;
letter-spacing: 1px;
}
.divAnswer {
display: none;
padding: 10px;
line-height: 200%;
letter-spacing: 1px;
}

.text2 p.a{
	font-weight: bolder;
}
.text2 .links {
margin-left: 70px;
}

a:visited, a {
text-decoration: none;
color: rgb(37, 138, 199);
font-family: 微软雅黑;
}
.paragraph {
padding-left:20px; 
font-size: 12px;
line-height: 18px;
color: rgb(77, 69, 114);
}

div.right {
	padding-top: 5px;
	padding-right: 2px;
float: left;
}
.srm_p p {
text-indent: 2em;
margin-left: 20px;
margin-right: 20px;

}
.title_level_1 {
margin-left: 0px;
font-weight: bold;
font-size: 14px;
}